@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color:#292929 ;
}
.navbar-bg{
  background-color: #2B2B2B;
}

.text-color-pj{
  color: #CBCBCB!important;
}
.bg-color-div{
  background-color: #4F4F4F!important;
}
.btnTopo {
  position: fixed;
  bottom: 20px;
  right: 100px;
  display: none;
  background-color: #555;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

#btnTopo:hover {
  background-color: #777;
}